<div class="container-fluid">
      <div class="card card-outline-primary">

            <div class="panel-body">
                  <div class="card-block">
                        <form class="card-block">
                              <div class="container-fluid">
                                    <div class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="id">{{
                                                            'ID'}}</label>
                                                      <input class="form-control form-control-sm" type="text"
                                                            (ngModel)="productElement.id" id="id" name="id" required
                                                            autofocus />
                                                </div>

                                          </div>

                                    </div>
                                    <div style=" margin-top: 20px;   " class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="title">{{ 'TITEL'}}</label>
                                                      <input class="form-control form-control-sm" type="text"
                                                            (ngModel)="productElement.title" id="title" name="title"
                                                            required autofocus />
                                                </div>

                                          </div>



                                    </div>
                                    <div style=" margin-top: 20px;   "  class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="price">{{ 'PRICE' }}</label>
                                                      <input type="number" class="form-control form-control-sm"
                                                            (ngModel)="productElement.price" id="price" name="price"
                                                            required />

                                                </div>
                                          </div>


                                    </div>
                                    <div style=" margin-top: 20px;   "  class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="category">{{ 'CATOGERY'}}</label>
                                                      <input class="form-control form-control-sm" type="text"
                                                            (ngModel)="productElement.category" id="category"
                                                            name="category" required autofocus />
                                                </div>

                                          </div>

                                    </div>



                                    <div style=" margin-top: 20px;   "  class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="description">{{ 'DESCRIPTION'}}</label>
                                                     
                                                     
                                                      <input type="text" class="form-control form-control-sm"
                                                            (ngModel)="productElement.description" id="description"
                                                            name="description" required autofocus />
                                                </div>
                                          </div>

                                    </div>
                                    <div style=" margin-top: 20px;   "  class="row">
                                          <div class="col-sm-6">
                                                <div class="form-group">
                                                      <label for="image">{{ 'IMAGE'}}</label>
                                                      <input class="form-control form-control-sm" type="text"
                                                            (ngModel)="productElement.image" id="image"
                                                             name="image"  required autofocus/>
                                                </div>
                                          </div>
                                    </div>


                                    <div style=" margin-top: 20px; margin-left: 200px; "  class="container-fluid">
                                          <div class="row">
                                                <div class="col">
                                                      <button color="primary" (clicked)="onClicked()"><i
                                                                  class="fa fa-save fa-fw"></i>Save </button>

                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>